[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-dotenv = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
channels-redis = "*"
channels = {extras = ["daphne"], version = "*"}
boto3 = "*"
django-redis = "*"
django-storages = {extras = ["boto3"], version = "*"}
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
